#main-container{
    height: 100vh;
}
#logo-container{
    position: absolute;
    top: calc(35% - 30px);
    width: 100%;
    text-align: center;
}
#text-logo{
    font-size: 60px;
    font-family: "Poppins";
    color: transparent;
    background: linear-gradient(-30deg, #b6359c, #ef0a6a);
    -webkit-background-clip: text;
    cursor: default;
}
#download-container{
    position: absolute;
    top: calc(55% - 35px);
    width: 100%;
    text-align: center;
}
.buttons{
    transition: 0.3s ease;
    width: 200px;
    height: 70px;
    margin: 10px;
    outline: none;
    border: 0px solid transparent;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Poppins";
    cursor: pointer;
}
#download{
    background-image: linear-gradient(-30deg, #b6359c, #ef0a6a);
}
#download:hover{
    box-shadow: 0px 0px 12px #ef0a6a;
}
#discord{
    background-image: linear-gradient(-30deg, #4e5d94, #7289da);
}
#discord:hover{
    box-shadow: 0px 0px 12px #7289da;
}
#github{
    /* background-image: linear-gradient(-30deg, #22272E, #2D333B); */
    background-image: linear-gradient(-30deg, #0D1117, #161B22);    
}
#github:hover{
    box-shadow: 0px 0px 12px #0D1117;
}
@media screen and (max-width: 850px) {
    #logo-container{
        top: calc(30% - 30px);
    }
    #download-container{
        top: calc(50% - 30px);
    }
}
@media screen and (max-width: 620px) {
    #logo-container{
        top: calc(24% - 30px);
    }
    #download-container{
        top: calc(44% - 30px);
    }
}