@import url('https://fonts.googleapis.com/css?family=Poppins');




html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #151D21;
    background-image: url('bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #dd3ddd;
}

header .logo a {
	background-image: url("jostro.png");
	background-size: 130px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}

li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Poppins';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
    font-size: 50px;
}

section header {
    margin-top: 0px;
    font-family: 'Poppins';
    font-size: 62px;
    margin-bottom: 20px;
}

.home {
    margin-top: 100px;
}

.games {
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 8%;
}

section nav {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


section .mybutton {
    transition: 0.3s ease;
            width: 200px;
            height: 70px;
            margin: 10px;
            outline: none;
            border: 17px solid transparent;
            border-radius: 20px;
            color: #ffffff;
            font-size: 15px;
            font-family: "Poppins";
            cursor: pointer;
}

.features {
	color: gray;
	padding: 20px;
	display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
}

.features figure {
    margin: auto;
    padding: 5px;
	text-align: center;
    width: 300px;
}

.features figure img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

figure img:hover {
    filter: brightness(0.7);
}

figure figcaption {
    font-family: 'Poppins';
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 100px;
}

figure figcaption a:hover {
    color: gray;
}

section .mybutton:hover {
    background: rgb(235, 46, 209);
    font-size: 26px;
    margin-top: 29px;
}

.par {
    margin-top: 500px;
    height: 650px;
}

footer {
    font-family: 'Poppins';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

@media screen and (max-width: 1140px) {
    section nav {
        font-family: 'Poppins';
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 24px;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }    

    figure figcaption {
        font-family: 'Poppins';
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 760px) {
    .features {
        display: block;
    }

    li {
        font-size: 14px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 10px;
    }
    header .logo a {
        height: 50px;
	    width: 60px;
        background-size: 50px;
    }

}

@media screen and (max-width: 600px) {
    li {
        font-size: 12px;
    }

    section nav {
        font-size: 14px;
        line-height: 26px;
    }

    section .mybutton {
        font-size: 12px;
    }

    section .mybutton:hover {
        background: white;
        font-size: 14px;
        margin-top: 29px;
    }
}